@import "tailwindcss";

@theme {
  --font-sans: 'Outfit', sans-serif;
}

:root {
  --color-primary: #6366f1;
  --color-primary-hover: #4f46e5;
  --color-bg: #090d16;
  --color-surface: #111827;
  --color-surface-2: #1f2937;
  --color-border: #374151;
  --color-text: #f3f4f6;
  --color-text-muted: #9ca3af;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-bg);
  color: var(--color-text);
  margin: 0;
  padding: 0;
}
